* {
  font-family: monospace;
  font-size: large;
  border: none;
  outline: none;
  /*outline: red 1px solid;*/
}

html,
body {
  padding: 0;
}

body {
  box-sizing: border-box;
  display: inline-block;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;

  cursor: pointer;

  color: inherit;
  display: inline-block;
}

button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  color: inherit;
}

option {
  font-family: monospace;
  cursor: pointer;
}

/* only first selector working */
option:checked,
option:hover,
option:focus {
  /*background: black;*/
}
